{% extends "layout.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "courses/css/style.css" %}">
{% endblock %}

{% block page-title %} 
    {{course.title}}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid rounded" src="{% static "courses/img/"|add:course.imageUrl%}" alt="{{course.title}}">
            </div>
            <div class="col-9">
                <h1 class="h3"> {{course.title}}</h1>
                <p>
                    {{course.description}}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_files %}
    <script src="{% static "courses/js/script.js"%}"></script>
{% endblock js_files %}